<!DOCTYPE html>
<html>
<head>
  <title>Movies</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="moviesstyle.css">
</head>

<body>
  <div class="movies-page">
  <h2> Movies </h2>
</div>
  <div class="movies">
    <% @movies.each do |movie| %>
      <div class="movie">
        <div class="poster">
          <a href="/movies/<%= movie.title %>"><img id="posterimg" src="/movies/<%= movie.poster %>"/></a>
        </div>
        <h4 class="movie_name"><%= movie.title %></h4>
        <ul class="about">
          <li><%= movie.director %></li>
          <li><%= movie.release %></li>
          <li><%= movie.genre %></li>
        </ul>
      </div>
    <% end %>
  </div>
</body>
</html>
