<!DOCTYPE html>
<html>
<body>
	
	<h2><%= @Movies.title %></h2>
	<img src="/movies/<%= @Movies.poster %>" style="width:20%; height:auto;">
	<ul style="display:inline-block;vertical-align:top;">
	  <li><%= @Movies.director %></li>
	  <li><%= @Movies.release %></li>
	  <li><%= @Movies.genre %></li>
	</ul>
	
<br>
	<h2>Reviews</h2>
	<% if @Reviews %>
	  <% @Reviews.each do |review| %>
		<div style="white-space: wrap;">
			<h4 id="username" style="display:inline-block; vertical-align:top; margin-top:21px; padding:5px; background-color: rgba(255, 255, 255, 0.3); border-radius: 15px;"><a href="/user/<%= review.user %>"><%= review.user %></a></h4>
			<div id="comment" style="display:inline-block; vertical-align:top; margin-top:21px; padding:5px; background-color: rgba(255, 255, 255, 0.3); word-wrap: break-all; max-width:100%; border-radius: 15px;"><%= review.content %></div>
		</div>
                <hr>
	  <% end %>
	<% end %>
	</body>
</html>
